.principal {
    width: 50%;
    margin: 10% auto 0 auto;
    /*margin-top: 10%;*/
    background-color: lightgray;
    border: 0.5px solid darkgray;
    border-radius: 2%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-image: url(images.jpg);
    margin: auto;
    text-align: center;
}
body img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    position: absolute;
}

#head{
    text-align: center;
    padding: 20px;
}
#foot{
    text-align: center;
    padding: 20px;
}
#menu{
    text-align: center;
}
.botao{
    margin: 15px;
    background-color: yellow;
    font-size: 20px;
    text-decoration: none;
}
.botaoLink{
    text-decoration: none;
}
.botaoLink:hover{
    font-weight: bold;
}
#conteudo{
    margin:  auto;
    background-color: lightgray;
    text-align: center;
    border : 1px solid black;
    height: 400px;
}
#clientesResultado{
    margin : 20px;
    background-color: white;
    height: 370px;
    border-radius: 5px;
}
.paragrafo{
    padding: 10px;
}
.tabela{
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    border-collapse: collapse;
}
.tabela th{
    border-bottom: 2px solid black;
}
.tabela td{
    border-bottom: 1px solid black;
    color : gray;
}
.tabela tr:hover td {

    color: black;
}

#botao{
    margin-top : 30px;
    margin-bottom: 10px;
    padding: 5px;
}
#caixaTexto{
    width: 80%;
    height: 110px;
    border: 1px solid black;
    resize: vertical;
}
#linha{
    border: 1px solid black;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div.form_child {
    /*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12);*/
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1%;
    width: 60%;
    margin: 5% auto;
    grid-row-gap: 8%;
}

textarea.desc {
    width: 60%;
    max-width: 100%;
    resize: vertical;
    max-height: 200px;
    margin: 2% 0;
}

.label {
    /*height: 30px;*/
    color: white;
}

.input {
    height: 40px;
}